<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="mentor.css">
</head>
<body>
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-1">
                    <h2 class="sub-title"><span id="querycenter">Choose Your Mentor</span></h2>
                    <div id="selmentor">
                        <div class="container">
                            
                            <div class="work-list">
                                <div class="work">
                                    <img src="./assets/images/download (1).jpg" alt="Mentor1">
                                    <div class="layer">
                                        <h2>Sandeep Maheswari</h2>
                                        <h4>Sandeep Maheshwari is a well-known Indian entrepreneur, motivational speaker, and author and his talks have inspired many people in India and beyond. He is the founder and CEO of ImagesBazaar, one of the largest online collections of stock images in India.</h4>
                                     
                                    </div>
                                </div>
                                <div class="work">
                                    <img src="./assets/images/richa.jpg" alt="Mentor2">
                                    <div class="layer">
                                        <h2>Richa mam</h2>
                                        <h4>She has 10 years of experience in mentorship, specializing in guiding professionals in web development, machine learning, and cybersecurity at Google.</h4>
                                       
                                    </div>
                                </div>
                                <div class="work">
                                    <img src="./assets/images/sg.jpg" alt="Mentor3">
                                    <div class="layer">
                                        <h2>Rahul sir</h2>
                                        <h4>He has 5 years of experience in mentorship, specializing in guiding professionals in Devops, machine learning, and cybersecurity at Google.</h4>
                                        
                                    </div>
                                </div>
                                
                                <div class="work">
                                    <img src="./assets/images/amulya.jpg" alt="Netflix Clone">
                                    <div class="layer">
                                        <h2>Amulya sir</h2>
                                        <h4>He is a professor at IIT Kharagpur with 10 years of experience in mentoring students</h4>
                                        
                                    </div>
                                </div>
                            </div>
                   

                            <br><br>
   <div id="queryheading"> <span id="querycenter">Write Your Query to Us</span> </div>              
                <div class="contact-2">
                    <form method="post" id="form" class="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <label id="selmen"  for="choosementor">Choose Your Mentor:</label>

<select name="mentor" id="selmen1">
  <option value="sandeep">Sandeep Sir</option>
  <option value="richa">Richa Mam</option>
  <option value="rahul">Rahul Sir</option>
  <option value="amulya">Amulya Sir </option>
</select>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="submit">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
</body>
</html>